@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/HelveticaRoundedLTStd-Bd.woff2") format("woff2"),
    url("src/assets/fonts/HelveticaRoundedLTStd-Bd.woff") format("woff"),
    url("src/assets/fonts/HelveticaRoundedLTStd-Bd.ttf") format("truetype"),
    url("src/assets/fonts/HelveticaRoundedLTStd-Bd.svg?url#helvetica_rounded_lt_stdbold")
      format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/HelveticaRoundedLTStd-Black.woff2") format("woff2"),
    url("src/assets/fonts/HelveticaRoundedLTStd-Black.woff") format("woff"),
    url("src/assets/fonts/HelveticaRoundedLTStd-Black.ttf") format("truetype"),
    url("src/assets/fonts/HelveticaRoundedLTStd-Black.svg?url#helvetica_rounded_lt_stdblack")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("src/assets/fonts/DMSans-Regular.woff2") format("woff2"),
    url("src/assets/fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "DM Sans";
}

::-webkit-scrollbar {
  display: none;
}
